[Unit]
Description=Framework2 Target
Wants=framework2-timers.service
Wants=framework2-consumer@1.service
Wants=framework2-consumer@2.service
Wants=framework2-consumer@3.service
Wants=framework2-consumer@4.service
After=network.target

[Install]
WantedBy=multi-user.target

