[Unit]
Description=GPT4discord Target
Wants=gpt4discord-client.service
Wants=gpt4discord-openai@1.service
Wants=gpt4discord-openai@2.service
Wants=gpt4discord-openai@3.service
Wants=gpt4discord-openai@4.service
After=network.target

[Install]
WantedBy=multi-user.target

